.container {
    display: grid;
    grid-template-columns: 1fr 18.229vw;
    gap: var(--20px);
    padding: var(--20px) var(--padding-horizontal);
    max-width: var(--max-width);
    margin: 0 auto;
}

.mainContent {
    width: 100%;
}

.blogPost {
    background: var(--bg-light-color);
    border-radius: var(--14px);
    padding: var(--20px);
    margin-bottom: var(--20px);
    /* box-shadow: 0 var(--4px) var(--6px) rgba(0, 0, 0, 0.1); */

}

.blogPost h1 {
    margin-bottom: var(--20px);
    color: var(--text-dark-color);
}

.blogContent {
    display: flex;
    flex-direction: column;
    gap: var(--10px);
}

.featuredImage {
    width: 100%;
    height: auto;
    max-height: 39.682539682539684vw;
    object-fit: cover;
    border-radius: var(--14px);
}

.metadata {
    display: flex;
    gap: var(--10px);
    color: var(--text-gray-color);
    font-size: var(--font-14);
}

.sidebar {
    background: var(--bg-light-color);
    border-radius: var(--14px);
    padding: var(--16px);
    position: sticky;
    top: 1vw;
    height: fit-content;
    box-shadow: 0 var(--4px) var(--6px) rgba(0, 0, 0, 0.1);

}

.sidebar h3 {
    margin-bottom: var(--16px);
    color: var(--text-dark-color);
}

.blogList {
    display: flex;
    flex-direction: column;
    gap: var(--10px);
}

.blogListItem {
    display: flex;
    gap: var(--10px);
    padding-bottom: var(--10px);
    border-bottom: var(--1px) solid var(--border-color);
}

.blogListItem img {
    width: 4.167vw;
    height: 4.167vw;
    object-fit: cover;
    border-radius: var(--14px);
}

.blogListItemContent {
    display: flex;
    flex-direction: column;
    gap: var(--8px);
}

.blogListItemContent h4 {
    color: var(--text-dark-color);
    font-size: var(--font-16);
    margin: 0;
}

.blogListItemContent span {
    color: var(--text-gray-color);
    font-size: var(--font-14);
}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        padding: var(--10px) var(--padding-horizontal);
    }

    .blogPost {
        padding: 0;
        margin-top: 20vw;
    }

    .featuredImage {
        height: auto;
        max-height: 61.33333333333333vw;
    }

    .metadata {
        flex-direction: column;
        gap: var(--8px);
    }

    .blogList {
        gap: var(--20px);
    }

    .sidebar {
        margin-top: 0;
        padding: 0;
    }
}