.container {
    display: flex;
    gap: var(--70px);
    padding: 0 var(--padding-horizontal);
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}



@media (max-width: 768px) {

    .wrapper{
        overflow-x: hidden;
    }

    .container {
        padding: 0 var(--padding-horizontal) 0;
    }

    .left {
        width: 100%;
    }

    .right {
        display: none;
    }
}