.container {
    padding: var(--padding-36) var(--padding-36) 0;
}

.cards {
    display: flex;
    width: 100%;
    overflow: hidden;
    gap: var(--10px);
    cursor: pointer;
}

.card {
    width: calc(100vw * 192/1512);
    height: calc(100vw * 467/1512);
    border-radius: var(--14px);
    overflow: hidden;
    position: relative;
}

.activeCard {
    width: calc(100vw * 710/1512);
}

.card:hover .carImage {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.carImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--14px);
    transition: all 0.3s ease;
}

.imageGallery {
    display: flex;
    position: absolute;
    left: 2vw;
    bottom: 2vw;
    background-color: var(--text-light-color);
    border-radius: var(--8px);
    padding: var(--12px);
    box-shadow: 0 var(--4px) var(--6px) rgba(0, 0, 0, 0.1);
}

.imageGallery {
    display: flex;
    gap: var(--8px);
    align-items: center;
    padding: 0.66vw 1.59vw;
    border-radius: var(--14px);
    box-shadow: 0 var(--4px) var(--6px) rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.imageGallery:hover {
    transform: translateY(-4px);
    transition: all 0.3s ease;
    background: var(--secondary-color);
    color: var(--text-light-color);
}

@media (max-width: 768px) {
    .container {
        padding: 25vw var(--padding-36) 0;
    }

    .cards {
        gap: 0;
    }

    .card {
        height: calc(100vw * 467/375);
        width: 0;
    }

    .activeCard {
        width: 100vw;
        z-index: 0;
    }

    .imageGallery {
        display: flex;
        position: absolute;
        left: 4vw;
        bottom: 4vw;
        z-index: 20;
    }

    .imageGallery {
        padding: var(--10px) var(--24px);
        border-radius: var(--14px);
    }

}